body {
    width : 100vw;
    height : 100vh;
    background-color: rgba(235, 235, 235, 1.0);
}

h1,h2 {
    text-align: center;
    margin-bottom: 5px;
}

.dexter-layers {
    position: relative;
    margin: auto;
}

.dexter-layer{
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
        
.dexter-panel {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    background-color: white;
}

.dexter-network-properties {
    overflow-y: scroll;
    margin: 0px;
}

.dexter-network-properties input {
}

.dexter-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    margin-top: -50px;
    height: 100px;
    padding: 5px;
    background-color: rgba(230, 230, 240, 0.96);
    z-index: 10000;
}

progress {
    display: block;
    margin: 1em auto;
}

.pgTable {
    width: 100%;
    font-size: 80%;
    border: none;
}

#custom-search-input{
    padding: 1px;
    border: solid 1px darkgrey;
    border-radius: 6px;
    background-color: white;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

.form-inline {
  display:inline-block;
}
